/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0;
    text-align: center;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: rgba(100, 100, 100, 0.9);
    font-size: 60px;
    
}

.text-content {
    flex: 1; /* El texto ocupará el espacio restante */
}


/* Estilos para el menú de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

/* Menú desplegable para dispositivos móviles */
.icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background-color: #333;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .icon {
        display: block;
    }
}

/* Estilos de los artículos */

.introduccion {
    background-color: #ddd;
    color: #222;
    padding: 10px 40px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1,5px;
}

.alert {
    font-size: 12px;
    text-align: center;
}

.main {
    padding: 20px;
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.news-article {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.news-article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-article p {
    font-size: 1em;
    margin-bottom: 15px;
}

.news-article a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.news-article a:hover {
    color: #007bff;
}

.section-article {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.section-article h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.div-article {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.div-article img {
    max-width: 150px; /* Tamaño relativamente pequeño */
    height: auto;
    flex-shrink: 0; /* Evita que la imagen se reduzca de tamaño */
}
.div-article p{
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: justify;
    flex-grow: 1; /* Hace que el texto ocupe el espacio restante */
}

@media (max-width: 768px) {
    .div-article {
        flex-direction: column; /* Cambia el diseño para mostrar las imágenes y el texto en una sola línea */
    }

    .div-article img {
        max-width: 100%; /* La imagen ocupa el 100% del ancho disponible */
        margin-bottom: 15px; /* Espacio adicional debajo de la imagen */
    }
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

.menu li {
    position: relative;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu li a {
    padding: 10px 20px;
    white-space: nowrap;
}

.carousel.container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    max-width: 1000px;
    gap: 20px;
}

.carousel.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.arrow-button {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
    background: rgb(255, 255, 255, 0.3);
    width: 36px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

span {
    height: 100%;
    width: 100%;
}

.left-arrow {
    left: 20px;
}
.right-arrow {
    right: 20px;
}

/* Estilos para pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
